<a href="https://colab.research.google.com/github/JohanRodriguez23/Mineria-de-Datos/blob/main/BD_ECommerce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# llamar base de datos
import pandas as pd
url = "https://raw.githubusercontent.com/JohanRodriguez23/Mineria-de-Datos/main/ETL-ECommerce.csv"
df = pd.read_csv(url, encoding= 'unicode_escape')

In [ ]:
path="C:\Ecommerce"
df.to_csv(path)

In [ ]:
df.drop (columns = ['FechaDIAOrden', 'FechaDIAVenta', 'Rama'], inplace=True)

In [ ]:
df

,,IDOrdenVenta,FechaMESOrden,FechaANOOrden,FechaMESVenta,FechaANOVenta,Antigüedad,ModoEntrega,CategoriaProducto,Producto,Ventas,...,GananciaVenta,CostoEnvio,Prioridad,IdCliente,Nombre del Cliente,Ciudad,Departamento,Pais,Continente,VentaEfectiva
AU-2015-1,9,11,17,11,8,Primera Clase,Auto & Accessories,Reproductores de Sonido para Carro,140,2,5%,...,$4,60,Medium,LS-001,Lane Daniels,Brisbane,Queensland,Australia,Oceania,Si
AU-2015-2,30,6,2,7,2,Primera Clase,Auto & Accessories,Altavoces para Carro,211,3,3%,...,$11,20,Medium,IZ-002,Alvarado Kriz,Berlin,Berlin,Germany,Central,Si
AU-2015-3,5,12,13,12,8,Primera Clase,Auto & Accessories,Car Body Covers,117,5,1%,...,$3,12,Critical,EN-003,Moon Weien,Porirua,Wellington,New Zealand,Oceania,No
AU-2015-4,9,5,16,5,7,Primera Clase,Auto & Accessories,Car & Motos Care,118,2,5%,...,$2,62,High,AN-004,Sanchez Bergman,Kabul,Kabul,Afghanistan,Central Asia,Si
AU-2015-5,9,7,18,7,9,Primera Clase,Auto & Accessories,Llanta,250,1,4%,...,$16,0,Critical,ON-005,Rowe Jackson,Townsville,Queensland,Australia,Oceania,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FA-2015-30771,21,1,27,1,6,Standard Class,Fashion,Sports Wear,85,5,4%,...,$1,70,Medium,IN-0040977,Welch Fein,Pasadena,Texas,United States,Central,Si
FA-2015-30772,22,6,24,6,2,Standard Class,Fashion,Sports Wear,85,1,3%,...,$0,25,Medium,TT-0040978,Martinez Arnett,Harare,Harare,Zimbabwe,Africa,Si
FA-2015-30773,1,1,7,1,6,Standard Class,Fashion,Sports Wear,85,1,5%,...,$0,8,Medium,ON-0040979,Mccoy Duston,Townsville,Queensland,Australia,Oceania,Si
FA-2015-30774,7,12,14,12,7,Standard Class,Fashion,Sports Wear,85,3,4%,...,$2,83,Medium,RN-0040980,Bentley Zypern,Houston,Texas,United States,Central,Si
FA-2015-30775,1,12,6,12,5,Standard Class,Fashion,Sports Wear,85,3,3%,...,$2,83,Medium,RZ-0040981,Mcclure Schwarz,Valinhos,São Paulo,Brazil,South,Si

In [ ]:
#Renombrar columnas
df.rename({'FechaMESOrden':'FechaDIAOrden'},axis=1, inplace=True)

In [ ]:
df.rename({'FechaANOOrden':'FechaMESOrden'},axis=1, inplace=True)

In [ ]:
df.rename({'FechaMESVenta':'FechaDIAVenta'},axis=1, inplace=True)

In [ ]:
df.rename({'FechaANOVenta':'FechaMESVenta'},axis=1, inplace=True)

In [ ]:
df

,,IDOrdenVenta,FechaDIAOrden,FechaMESOrden,FechaDIAVenta,FechaMESVenta,Antigüedad,ModoEntrega,CategoriaProducto,Producto,Ventas,...,GananciaVenta,CostoEnvio,Prioridad,IdCliente,Nombre del Cliente,Ciudad,Departamento,Pais,Continente,VentaEfectiva
AU-2015-1,9,11,17,11,8,Primera Clase,Auto & Accessories,Reproductores de Sonido para Carro,140,2,5%,...,$4,60,Medium,LS-001,Lane Daniels,Brisbane,Queensland,Australia,Oceania,Si
AU-2015-2,30,6,2,7,2,Primera Clase,Auto & Accessories,Altavoces para Carro,211,3,3%,...,$11,20,Medium,IZ-002,Alvarado Kriz,Berlin,Berlin,Germany,Central,Si
AU-2015-3,5,12,13,12,8,Primera Clase,Auto & Accessories,Car Body Covers,117,5,1%,...,$3,12,Critical,EN-003,Moon Weien,Porirua,Wellington,New Zealand,Oceania,No
AU-2015-4,9,5,16,5,7,Primera Clase,Auto & Accessories,Car & Motos Care,118,2,5%,...,$2,62,High,AN-004,Sanchez Bergman,Kabul,Kabul,Afghanistan,Central Asia,Si
AU-2015-5,9,7,18,7,9,Primera Clase,Auto & Accessories,Llanta,250,1,4%,...,$16,0,Critical,ON-005,Rowe Jackson,Townsville,Queensland,Australia,Oceania,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FA-2015-30771,21,1,27,1,6,Standard Class,Fashion,Sports Wear,85,5,4%,...,$1,70,Medium,IN-0040977,Welch Fein,Pasadena,Texas,United States,Central,Si
FA-2015-30772,22,6,24,6,2,Standard Class,Fashion,Sports Wear,85,1,3%,...,$0,25,Medium,TT-0040978,Martinez Arnett,Harare,Harare,Zimbabwe,Africa,Si
FA-2015-30773,1,1,7,1,6,Standard Class,Fashion,Sports Wear,85,1,5%,...,$0,8,Medium,ON-0040979,Mccoy Duston,Townsville,Queensland,Australia,Oceania,Si
FA-2015-30774,7,12,14,12,7,Standard Class,Fashion,Sports Wear,85,3,4%,...,$2,83,Medium,RN-0040980,Bentley Zypern,Houston,Texas,United States,Central,Si
FA-2015-30775,1,12,6,12,5,Standard Class,Fashion,Sports Wear,85,3,3%,...,$2,83,Medium,RZ-0040981,Mcclure Schwarz,Valinhos,São Paulo,Brazil,South,Si

In [ ]:
path="C:\Ecommerce"
df.to_csv(path)

In [ ]:
df

,,IDOrdenVenta,FechaDIAOrden,FechaMESOrden,FechaDIAVenta,FechaMESVenta,Antigüedad,ModoEntrega,CategoriaProducto,Producto,Ventas,...,GananciaVenta,CostoEnvio,Prioridad,IdCliente,Nombre del Cliente,Ciudad,Departamento,Pais,Continente,VentaEfectiva
AU-2015-1,9,11,17,11,8,Primera Clase,Auto & Accessories,Reproductores de Sonido para Carro,140,2,5%,...,$4,60,Medium,LS-001,Lane Daniels,Brisbane,Queensland,Australia,Oceania,Si
AU-2015-2,30,6,2,7,2,Primera Clase,Auto & Accessories,Altavoces para Carro,211,3,3%,...,$11,20,Medium,IZ-002,Alvarado Kriz,Berlin,Berlin,Germany,Central,Si
AU-2015-3,5,12,13,12,8,Primera Clase,Auto & Accessories,Car Body Covers,117,5,1%,...,$3,12,Critical,EN-003,Moon Weien,Porirua,Wellington,New Zealand,Oceania,No
AU-2015-4,9,5,16,5,7,Primera Clase,Auto & Accessories,Car & Motos Care,118,2,5%,...,$2,62,High,AN-004,Sanchez Bergman,Kabul,Kabul,Afghanistan,Central Asia,Si
AU-2015-5,9,7,18,7,9,Primera Clase,Auto & Accessories,Llanta,250,1,4%,...,$16,0,Critical,ON-005,Rowe Jackson,Townsville,Queensland,Australia,Oceania,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FA-2015-30771,21,1,27,1,6,Standard Class,Fashion,Sports Wear,85,5,4%,...,$1,70,Medium,IN-0040977,Welch Fein,Pasadena,Texas,United States,Central,Si
FA-2015-30772,22,6,24,6,2,Standard Class,Fashion,Sports Wear,85,1,3%,...,$0,25,Medium,TT-0040978,Martinez Arnett,Harare,Harare,Zimbabwe,Africa,Si
FA-2015-30773,1,1,7,1,6,Standard Class,Fashion,Sports Wear,85,1,5%,...,$0,8,Medium,ON-0040979,Mccoy Duston,Townsville,Queensland,Australia,Oceania,Si
FA-2015-30774,7,12,14,12,7,Standard Class,Fashion,Sports Wear,85,3,4%,...,$2,83,Medium,RN-0040980,Bentley Zypern,Houston,Texas,United States,Central,Si
FA-2015-30775,1,12,6,12,5,Standard Class,Fashion,Sports Wear,85,3,3%,...,$2,83,Medium,RZ-0040981,Mcclure Schwarz,Valinhos,São Paulo,Brazil,South,Si

In [ ]:
#VALIDACION DE DATOS NAN
df[df.isna().any(1)]

Empty DataFrame
Columns: [IDOrdenVenta, FechaDIAOrden, FechaMESOrden, FechaANOOrden, FechaDIAVenta, FechaMESVenta, FechaANOVenta, Antigüedad, ModoEntrega, CategoriaProducto, Producto, Ventas, Cantidad, PorcentajeDescuentoAplicado,  GananciaVenta ,  CostoEnvio , Prioridad, IdCliente, Nombre del Cliente, Rama, Ciudad, Departamento, Pais, Continente, VentaEfectiva]
Index: []

[0 rows x 25 columns]

In [ ]:
#vALIDACION ISNTRUCCION 0
df.describe(include='O')

,FechaANOVenta,Antigüedad,ModoEntrega,Ventas,Cantidad,GananciaVenta,Prioridad,IdCliente,Nombre del Cliente,Rama,Ciudad,Departamento,Pais,Continente,VentaEfectiva
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,4,4,42,5,154,17,4,51290,795,3,3636,1094,147,13,2
top,Standard Class,Fashion,Sports Wear,3%,$ 17,$2,Medium,LS-001,Mcclain O'Donnell,Consumer,New York City,California,United States,Central,Si
freq,30775,30775,2827,10360,1154,6835,29433,1,108,26518,915,2001,9994,11117,41048

In [ ]:
#Validación de datos Vacíos
df.isna().sum()

IDOrdenVenta                   0
FechaDIAOrden                  0
FechaMESOrden                  0
FechaANOOrden                  0
FechaDIAVenta                  0
FechaMESVenta                  0
FechaANOVenta                  0
Antigüedad                     0
ModoEntrega                    0
CategoriaProducto              0
Producto                       0
Ventas                         0
Cantidad                       0
PorcentajeDescuentoAplicado    0
 GananciaVenta                 0
 CostoEnvio                    0
Prioridad                      0
IdCliente                      0
Nombre del Cliente             0
Rama                           0
Ciudad                         0
Departamento                   0
Pais                           0
Continente                     0
VentaEfectiva                  0
dtype: int64